<div [ngStyle]="{'background-image': 'url(https://picsum.photos/1700/1000)'}" class="d-flex justify-content-center align-items-center flex-column">
    <h1 class="display-1 text-warning">Work hard, dream big</h1>
    <h1 class="display-1 text-secondary">Work hard, dream big</h1>
    <h1 class="display-1 text-white">Work hard, dream big</h1>
</div>
