<div [ngStyle]="{'background-image': 'url(https://picsum.photos/1700/1000)'}" class="d-flex justify-content-center align-items-center flex-column">
  <table class="table table-dark mr-6 ml-6">
    <thead>
      <tr>
        <th scope="col" class="text-uppercase">Title</th>
        <th scope="col" class="text-uppercase">Detailed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let object of items">
        <th *ngFor="let item of object | keyvalue">
          {{item.key}}
        </th>
        <td *ngFor="let item of object | keyvalue">
          {{item.value}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
