<main [ngStyle]="{'background-image': 'url(https://picsum.photos/1700/1000)'}" class="d-flex align-items-center justify-content-center flex-column">
  <div class="mb-3 alert alert-info">
    <h2>Please, reach me via: </h2>
  </div>
  <div class="mb-3 alert alert-warning">
    <h2>email: saputo2020@gmail.com</h2>
  </div>
  <div class="mt-4">
    <span class="mr-3 ml-3">
      <img src="assets/svg/gitlab.svg">
    </span>
    <span class="mr-3 ml-3"> 
    <img src="assets/svg/github.svg">
    </span>
    <span class="mr-3 ml-3">
    <img src="assets/svg/linkedin.svg">
    </span>
    <span class="mr-3 ml-3">
    <img src="assets/svg/facebook.svg">
    </span>
  </div>
</main>
