<div [ngStyle]="{'background-image': 'url(https://picsum.photos/1700/1000)'}" class="d-flex justify-content-center align-items-center flex-column">
  <h1 class="display-1 text-warning font-weight-bold m-2">Welcome</h1>
  <h2 class='text-white font-italic m-2'>Tetiana Hurova</h2>
  <h2 class='text-white font-italic m-2'>JS DEV</h2>
</div>
