<nav class="navbar navbar-expand-lg bg-dark d-flex justify-content-center">
  <ul class="navbar-nav mt-2 mb-2">
    <li routerLinkActive='active' class="nav-item mr-2">
      <a [routerLink]="['/skills']" class="nav-link">Skills</a>
    </li>
    <li routerLinkActive='active' class="nav-item mr-2">
      <a [routerLink]="['/experience']"  class="nav-link">Experience</a>
    </li>
    <li routerLinkActive='active' class="nav-item mr-2">
      <a [routerLink]="['/goals']" class="nav-link">Goals</a>
    </li>
    <li routerLinkActive='active' class="nav-item mr-2">
      <a [routerLink]="['/contacts']" class="nav-link text-white">Contacts</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
