ul {
  display: flex;
}

li.active a {
  color:  #fff;
  font-weight: bold;
  cursor: default;
  opacity: 1;
}

a {
  color: #fff;
  padding: 1rem;
  margin: 0 0.25rem;
  opacity: .7;

  &:hover {
    color: var(--light-color);
    opacity: 1;
  }
}
