<div [ngStyle]="{'background-image': 'url(https://picsum.photos/1700/1000)'}" class="d-flex justify-content-center align-items-center flex-column">
  <h1 class="display-1 text-white m-2">Experience</h1>
  <div>
    <table class="table table-dark mt-6">
      <thead>
        <tr>
          <th scope="col" class="text-uppercase">Softserve</th>
          <th scope="col" class="text-uppercase">March 2020 - July 2020</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let object of items">
          <th *ngFor="let item of object | keyvalue">{{item.key}}</th>
          <td *ngFor="let item of object | keyvalue">{{item.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
